.homeJSX {
  .header {
    width: 100%;
    height: 62px;

    font-size: 36px;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #ddd;
  }

  .postList {
    margin-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;

    border-bottom: 1px solid #ddd;

    font-size: 20px;
    font-weight: normal;

    text-decoration: none;
  }
}
